<div>
  <h2 id="page-heading" data-cy="BookCommentHeading">
    <span>Book Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book-comment"
        [routerLink]="['/book-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Book Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookComments?.length === 0">
    <span>No bookComments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookComments && bookComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="book.name"><span>Book</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="client.email"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookComment of bookComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/book-comment', bookComment.id, 'view']">{{ bookComment.id }}</a>
          </td>
          <td>{{ bookComment.comment }}</td>
          <td>
            <div *ngIf="bookComment.book">
              <a [routerLink]="['/book', bookComment.book?.id, 'view']">{{ bookComment.book?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bookComment.client">
              <a [routerLink]="['/client', bookComment.client?.id, 'view']">{{ bookComment.client?.email }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/book-comment', bookComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/book-comment', bookComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(bookComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookComments && bookComments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
