<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bookComment">
      <h2 data-cy="bookCommentDetailsHeading"><span>Book Comment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ bookComment.id }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ bookComment.comment }}</span>
        </dd>
        <dt><span>Book</span></dt>
        <dd>
          <div *ngIf="bookComment.book">
            <a [routerLink]="['/book', bookComment.book?.id, 'view']">{{ bookComment.book?.name }}</a>
          </div>
        </dd>
        <dt><span>Client</span></dt>
        <dd>
          <div *ngIf="bookComment.client">
            <a [routerLink]="['/client', bookComment.client?.id, 'view']">{{ bookComment.client?.email }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/book-comment', bookComment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
